body {
  background-color: #f8f8ff;
  margin: 0;
  font-size: 1.5vw;
}

.headings {
  text-align:left;
  position: relative;
  margin-top: 0;
  text-align: left;
}

.title {
  padding-left: 28vw;
  position: absolute;
  top: 6vw;
  padding-bottom: 70px;
  font-size: 3vw;
}

.subtitle {
  padding-left: 28vw;
  position: absolute;
  top: 55%;
  font-size: 1.4vw;
}

.sectionheader {
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  color: #003059;
  padding-top:30px;
}

.sponsor {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 45px;
}

.sponsor p {
  padding-left: 300px;
}

.sponsorlogo {
  margin: auto;
  float: left;
  height: 5vw;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.sponsorlogo:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.about div {
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.defcard {
  background-color: #ADCAEF;
  border-left: 15px solid #003059;
  box-shadow: 2px 3px 3px -2px #003059;
  border-radius: 5px;
  font-size: 1.5vw;
  width: 80%;
  padding-bottom: 30px;
  margin: auto;
  margin-top: 20px;
}

.product {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 45px;
}

.flow {
  width: 95%;
}

.features img {
  padding: 5px;
  width: 150px;
  max-width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.features p {
  text-align: center;
  color: #566673;
  font-size: 1.1vw;
  font-style: italic;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 5px;
}

.features h4 {
  padding-top: 20px;
  padding-bottom: 0;
}

.video {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 45px;
}

.background {
  background-color: #ADCAEF;
}

.team {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.teamrow {
  display: flex;
}

.team-fourths {
  flex: 25%;
  padding: 5px;
}

.team-fourths hr {
  border: 1px solid #003059;
}

.names {
  text-align: center;
  padding: 10px 20px;
  display: block;
  width: 100%;
  font-size: 1.15vw;
}

.teamimg {
  float: left;
  width: 130px;
  padding: 5px;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.teamimg:hover {
  opacity: 0.7;
  filter: grayscale(75%);
}

.status {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center;
}

p {
  position: relative;
  margin: 1rem 0 0;
}

ul {
  list-style: none;
  padding-bottom: 10px;
  margin: 1rem 0 0;
}

ul li {
  position: relative;
  background: url("./img/smartsheet-logo-mark.svg") no-repeat top left;
  background-size:20px 20px;
  line-height: 1.1;
  background-position: 0 18px;
  padding: 15px 0 2px 30px;
  margin-left: 1em;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 1.5px #003059;
  letter-spacing: 6px;
  margin-top: 0;
}

h2 {
  font-weight: 500rem;
  text-transform: uppercase;
  color: #003059;
  padding-right: 40px;
  letter-spacing: 8px;
}

h4 {
  font-size: 1.5vw;
  font-weight: 500rem;
  text-transform: uppercase;
  color: #287a5a;
  letter-spacing: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0px;
}

iframe {
  width: 90%;
  height: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer img {
  margin: 0;
  padding: 0;
}
