.headings {
  text-align:right;
  background-image: url("./img/header.png");
  margin-top: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.sectionheader {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  color: #003059;
}

.sponsor {
  padding: 100px;
  padding-top: 20px;
}

.sponsorlogo {
  margin: auto;
  width: 50%;
  height: auto;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
}

.sponsorlogo:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.defcard {
  background-color: #ADCAEF;
  border-left: 6px solid #003059;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  margin-left: 2%;
  margin-bottom: 1.6%;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 75%;
  padding: 30px;
  margin: 20px;
}

.features article {
  background-color: #f5f5f5;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  margin: 1rem auto;
}

.features img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  max-width: 50%;
  height: auto;
}

.team-fourths {
  background-color: white;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.names {
  text-align: center;
  padding: 10px 20px;
}

.teamimg {
  float: left;
  width: 25%;
  padding: 5px;
}

.teamimg:hover {
  opacity: 0.7;
  filter: grayscale(75%);
}

body {
  background-color: #f8f8ff;
  font-size: 1.5rem;
  margin: 0;
}

p {
  position: relative;
  margin: 1rem 0 0;
  font-size: 1.5rem;
}

ul {
  position: relative;
  margin: 1rem 0 0;
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 1.5px #003059;
  letter-spacing: 6px;
  margin-top: 0;
  padding-left: 50px;
  padding-right: 40px;
  padding-top: 80px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500rem;
  text-transform: uppercase;
  color: #003059;
  padding-right: 40px;
  letter-spacing: 8px;
  padding-bottom: 120px;
}
